<side-bar class="sideNav">
  <div class="pic">
    <img src="../images/alberto.jpg" alt="" srcset="">
  </div>
  <h2>WELCOME <br> {{loggedUser.name}}</h2>
  <div>
    <img src="{{photoURL}}">
  </div>

  </section>
  <section id="botoncitos">
      <button class="buttonFavoritos">
      <i class="fas fa-star">Favorites</i>
      </button>
      <a href="/userData">
        <button class="btn btn-outline-secondary ">
          <i class="fab fa-js-square"></i> Javascript
        </button>
      </a>
      <button class="btn btn-outline-secondary"> 
        <i class="fab fa-html5"></i>  HTML
      </button>
      <button class="btn btn-outline-secondary" >
      <i class="fab fa-css3-alt"></i> CSS
      </button>
  </section>

</side-bar>
<nav class="nav-bar">
  <p>WAT DA HACK</p>
  <a href="../auth/login"><i class="fas fa-power-off buttonLogout"></i></a>
</nav>


<section class="profile-body">

  <div class="">
      <a href="/auth/editProfile/{{loggedUser._id}}">
      <button type="button" class="btn btn-outline-primary buttonProfileBlue">Edit Profile</button>
      </a>

      <a href="/createPost">
      <button type="button" class="btn btn-outline-success buttonProfileGreen">Create a new post</button>
      </a> 

  </div>
    <h2>MY CONTRIBUTIONS</h2>
  <div class="my-contributions">
        <table class="table profile-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Command</th>
      <th scope="col">Description</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
{{#each contributions as |contribution|}}
    <tr>
      <th scope="row"> {{contribution.command}}</th>
      <td> {{contribution.description}}</td>
      </td>
      <td><a href="/user/newPost/delete/{{contribution._id}}" type="button">Delete </a></td>
    </tr>
      {{/each}}
  </tbody>
</table>
  </div>
</section>
