<side-bar class="sideNav">
  <div class="pic">
    <img src="https://content-static.upwork.com/uploads/2014/10/01073427/profilephoto1.jpg" alt="" srcset="">
  </div>
  <h2> {{loggedUser.name}}</h2>
  <div>
    <img src="{{photoURL}}">
  </div>

  </section>
  <section class="favoritos">
    <div>
      <button>
      <i class="fas fa-star">Favoritos</i>
      </button>
    </div>

    <div>
      <a href="/userData">
        <button class="btn btn-outline-secondary">
          <i class="fab fa-js-square"></i> Javascript
        </button>
      </a>
    </div>

    <div>
      <button class="btn btn-outline-secondary"> 
        <i class="fab fa-html5"></i>  HTML

      </button>
    </div>
    <div>
      <button class="btn btn-outline-secondary" >
      <i class="fab fa-css3-alt"></i> CSS
      </button>
    </div>
  </section>
  <section>
    <div class="add-fav"><i class="fas fa-plus"></i></div>
  </section>
</side-bar>

<nav class="nav-bar">
  <a href="auth/logout"><i class="fas fa-power-off"></i></a>
</nav>

<section class="profile-body">

  <div class="">
      <a href="/editProfile/{{loggedUser._id}}">
      <button type="button" class="btn btn-outline-primary buttonProfileBlue">Edit Profile</button>
      </a>

      <a href="/createPost">
      <button type="button" class="btn btn-outline-success buttonProfileGreen">Create a new post</button>
      </a> 

  </div>
  <div>
    <h2>MY CONTRIBUTIONS</h2>

        <table class="table profile-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Command</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
{{#each contributions as |contribution|}}
    <tr>
      <th scope="row"> {{contribution.command}}</th>
      <td> {{contribution.description}}</td>
      </td>
    </tr>
      {{/each}}
  </tbody>
</table>
  </div>
</section>
<div class="buttonjs">
</div>