

 <side-bar class="sideNav">
  <div class="pic">
    <img src="/images/logo2.png" alt="" srcset="">
  </div>
  <h2>WELCOME <br> {{loggedUser.name}}</h2>
  <div>
    <img src="{{photoURL}}">
  </div>

  </section>
  <section id="botoncitos">
      <button class="buttonFavoritos">
      <i class="fas fa-star">Favoritos</i>
      </button>
      <a href="/userData">
        <button class="btn btn-outline-secondary ">
          <i class="fab fa-js-square"></i> Javascript
        </button>
      </a>
      <button class="btn btn-outline-secondary"> 
        <i class="fab fa-html5"></i>  HTML
      </button>
      <button class="btn btn-outline-secondary" >
      <i class="fab fa-css3-alt"></i> CSS
      </button>
  </section>

</side-bar>
<nav class="nav-bar">
  <p>WAT DA HACK</p>
  <a href="../auth/login"><i class="fas fa-power-off buttonLogout"></i></a>
</nav>


{{!-- contributions --}}
<section class="profile-body table-body">
  <div>
    <table class="table command-table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Command</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Validation</th>
      
    </tr>
  </thead>
  <tbody>
   {{#each data as |datito|}}
    <tr>
      <th scope="row"> {{datito.command}}</th>
      <td>{{datito.description}} </td> 
      <td>{{datito.owner.name}}</td>
      <td class="validation">{{#if datito.validation}}
      
        <div ><i class="fas fa-check-circle check"></i></div>
        {{else}}
        <div><i class="fas fa-times-circle wrong"></i></div>
        {{/if}}
      </td>
      <td> 
       
    </tr>
      {{/each}}
  </tbody>
</table>


  </div>
</section>


<form action="" method="post"></form>